
body {
    background: #dfe1e4; /*url(http://jsrun.it/assets/p/r/8/X/pr8Xi.png);  /*bg  1a1a1a  434240  */
    color: rgb(48, 2, 122);
    position: relative;
    font-family: sans-serif;

  }
  /* p{
    color:;
  } */
  
  
  .tabs {
    background: #3d3f96;  /*topbar #c0392b #88565b*/
    height: 50px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    position: relative;
    display: inline-flex;
    margin-bottom: 20px;
  }
  .tabs li {
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    
    
  }
  /*only for stmus*/
  .tabs a {
    background: #6f6fc5; 
    display: block;
    width:"50%";
    float: right ;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 12px 22px ;  
    border-radius: 15px;

  }
 
  
  .tabs li.right {
    background: #3d3f96;  /*topbar e74c3c  */
    border-right: none;
    margin-top: 4px;
  margin-right: 10px;
  margin-left: 950px ;
  
      float: right;

  }
  .tabs a.dp-btn{
    top: -3px;
   margin-left: 230px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 100px;
    background-image: linear-gradient(#516ae7,#6d79d4),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
  }

.boxed {
    border: 1px solid green ;
    background-color: rgb(35, 82, 145);
    color: white;
    padding: 22px 40px;
  	margin: 12px 40px;
    font-size: 15px;
    width: 20%;
    text-align: center; 
    height: 70px ;
    border-radius: 15px;
    cursor: pointer;
    float: left;
    font-size: large ;
  }

  .box2 {
    border: 1px solid green ;
    background-color: rgb(35, 82, 145);
    color: white;
    padding: 22px 40px;
  	margin: 22px 40px;
    font-size: 15px;
    width: 20%;
    text-align: center; 
    height: 70px ;
    border-radius: 15px;
    cursor: pointer;
    float: right;
    font-size: large ;
  }